.goback-conatiner {
    background-color: rgb(139, 0, 0);
    text-transform: capitalize;
    width: 100px;
    height: 40px;
    line-height: 35px;
    border-radius: 5px;
    list-style-type: none;
}

.goback-link {
    color: rgb(255, 250, 240);
    text-decoration: none;
    font-size: 1.2em;
}

.menu-bar {
    padding: 0;
}