.article {
    width: 100%;
    height: 100%;
    position: relative;
}

.article-header {
    height: 10%;
    position: relative;
}

.article-title {
    font-size: 2em;
    color: darkred;
    margin: 10px 0 0;
}

.article-main {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container-cuisine {
    text-transform: capitalize;
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-cuisine p {
    margin-left: 10px;
    color: darkred;
}

.cuisine {
    font-size: 1em;
}

.cuisine, 
.types {
    margin: 0;
}

.article__img {
    height: 200px;
    margin: 10px;
}

.article__img img {
    height: 200px;
}

.ingredient-title {
    font-size: 1.5em;
    margin: 0;
    text-transform: capitalize;
}

@media screen and (min-width: 1000px) {
    .article-title {
        font-size: 2.5em;
    }

    .upper-main {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
    }

    .container-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cuisine,
    .types {
        font-size: 1.5em;
    }

    .article__img {
        margin: 20px;
        width: 300px;
    }

    .container-ingredients {
        width: 300px;
    }

    .ingredient-title {
        font-size: 2em;
    }

    .ingredient {
        font-size: 1.2em;
    }
}

.external-link {
    background-color: rgb(139, 0, 0);
    text-transform: capitalize;
    width: 100px;
    height: 40px;
    line-height: 35px;
    border-radius: 5px;
}

.external-link a {
    color: rgb(255, 250, 240);
    text-decoration: none;
    font-size: 1.1em;
}