.health-container__label, 
#health {
    text-transform: capitalize;
}

.health-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.health-container__label {
    display: block;
    font-size: 30px;
    color: darkred;
    font-weight: bold;
}

.health-container__input {
    width: 250px;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
    border: 1px solid rgba(128, 128, 128, 0.452);
    border-radius: 20px;
    background-color: #fffaf0;

    font-size: 1.5em;
}