.health-container__label, 
#health {
    text-transform: capitalize;
}

.health-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.health-container__label {
    display: block;
    font-size: 30px;
    color: rgb(139, 0, 0);
    font-weight: bold;
}

.health-container__input {
    width: 250px;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
    border: 1px solid rgba(128, 128, 128, 0.452);
    border-radius: 20px;
    outline-style: none;
    background-color: rgb(255, 250, 240);
    font-size: 1.5em;
}

.health-container__input:focus {
    border: 1px solid rgb(139, 0, 0);
    box-shadow: 1px 1px 8px 1px rgb(139, 0, 0);
    outline-style: none;
}