.search-container__button {
    width: 130px;
    height: 45px;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    font-size: 1.4em;
    text-transform: capitalize;
    color: white;
    background-color: rgba(139, 0, 0, 0.568);
}

.enable {
    background-color: rgb(139, 0, 0);
    cursor: pointer;
}